body {
	background-color: #218dc7;
}

h1 {
	color: #23282d;
	font-family: Georgia, serif;
	font-size: 55px;
	text-align: center;

}

p {
	color: #23282d;
	font-family: Arial, san-serif;
	text-align: center;
}